<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<header>
    {% block header %}{% endblock %}
    <nav class="navbar" style="float: right">

        <a href="{{ url_for('flask_app.index') }}" class="navbar-item"> Home
            {% if current_user.is_authenticated %} :{{ name }} {% endif %}
        </a>

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('flask_app.profile') }}" class="navbar-item"> Profile </a>
        {% endif %}

        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('flask_app.login') }}" class="navbar-item"> Login</a>
        {% endif %}

        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('flask_app.signup') }}" class="navbar-item"> Sign Up</a>
        {% endif %}

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('flask_app.logout') }}" class="navbar-item"> Logout</a>
        {% endif %}

    </nav>
</header>

<div class="content">
    <br><br><br><br>
    {% block body %}
    {% endblock %}
</div>

</body>

</html>


