{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block title %}HOME{% endblock %}

{% block header %}
<p style="padding-left:150px">We're pushing what fun can be.</p>
{% endblock %}

{% block body %}
{% if not current_user.is_authenticated %}
<div class="box" style="float: right">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/login_post2">
        <div class="control">
            <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
        </div>

        <div class="control">
            <input class="input is-large" type="password" name="password" placeholder="Your Password"                                   LOP 102;L./P>
        </div>
        <div class="field">
            <input type="checkbox">
            Remember me
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Login</button>
    </form>
</div>
{% endif %}
<h1>
    HOME PAGE
</h1>
<h2 class="subtitle">
    HOME
</h2>
{% endblock %}