{% extends "base.html" %}

{% block title %}Welcome to Whale.{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <span class="col-lg-12 text-center" id="whale-title">whale</span>
        </div>

        <div class="row">
            <h5 class="caption-section">Watch</h5>
        </div>
        <div class="row">
            <div class="col-lg-8 h-scroll-menu">
                <span class="lg-scroll-menu-item rounded-card" style="background: red"></span>
                <span class="lg-scroll-menu-item rounded-card" style="background: darkgoldenrod"></span>
                <span class="lg-scroll-menu-item rounded-card" style="background: maroon"></span>
                <span class="lg-scroll-menu-item rounded-card" style="background: grey"></span>
                <span class="lg-scroll-menu-item rounded-card" style="background: darkblue"></span>
            </div>
        </div>
        <div class="row">
            <div class="rounded-section">
                <h5 class="col-12-lg">Read</h5>
            </div>
        </div>
        <div class="row">
            <div class="rounded-panel">
                <span class="col-12-lg">Hello, there.</span>
            </div>
        </div>
    </div>
{% endblock content %}