{% extends "base.html" %}

{% block title %}LOGIN{% endblock %}

{% block body %}
<div class="column">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>

            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Your Password">
            </div>
            <div class="field">
                    <input type="checkbox">
                    Remember me
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}