{% extends "base.html" %}

{% block title %}SIGN UP{% endblock %}

{% block body %}
<div class="column">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    {{messages[0] }} Go to <a href="{{ url_for('login') }}">login page</a>
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">

            <div class="control">
                <input type="email" name="email" placeholder="Email">
            </div>

            <div class="control">
                <input type="text" name="name" placeholder="Name">
            </div>

            <div class="control">
                <input type="password" name="password" placeholder="Password">
            </div>

            <button class="button">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
